Source: com.github.luizaugustomm.tomato
Section: utils
Priority: optional
Maintainer: Luiz Augusto Morais <luizaugustomm@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               valac-0.28 | valac (>= 0.28),
               libgtk-3-dev,
               libgranite-dev,
               libunity-dev,
               libcanberra-gtk3-dev
Standards-Version: 3.9.5
Package: com.github.luizaugustomm.tomato
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple, usable and efficient pomodoro app designed for elementaryOS
 Tomato is a pomodoro app developed for elementary OS, which is intended to be simple, clean and intuitive.
 It follows the principles of pomodoro technique and try to make you more focused on your tasks.
