[Desktop Entry]
Type=Application
Name=Tomato
Comment=Organize your work with pomodoro technique
GenericName=Pomodoro App
StartupWMClass=tomato
Exec=tomato
Icon=tomato
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Pomodoro;Time;Productivity;Tomato;
StartupNotify=true
X-GNOME-Gettext-Domain=tomato
X-GNOME-UsesNotifications=true
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Tomato
Exec=tomato --about
