[Desktop Entry]
Type=Application
Name=Tomato
Name[lt]=Pomidoras
Comment=Keep focused on your work
Comment[lt]=Išlikite susitelkę ties savo darbu
GenericName=Pomodoro App
GenericName[lt]=Pomodoro programa
StartupWMClass=com.github.luizaugustomm.tomato
Exec=com.github.luizaugustomm.tomato
Icon=com.github.luizaugustomm.tomato
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Pomodoro;Time;Productivity;Tomato;
StartupNotify=true
X-GNOME-Gettext-Domain=com.github.luizaugustomm.tomato
X-GNOME-UsesNotifications=true
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Tomato
Name[lt]=Apie Pomidorą
Exec=com.github.luizaugustomm.tomato --about
