@define-color colorPrimary #8ea5af;
/*@define-color bg_highlight_color shade (@colorPrimary, 1.4);*/

.main-window decoration {
    border-radius: 4px;
    box-shadow:
        0 0 0 1px alpha (shade (@colorPrimary, 0.6), 0.55),
        0 8px 10px 1px alpha (#000, 0.14),
        0 3px 14px 2px alpha (#000, 0.12),
        0 5px 5px -3px alpha (#000, 0.4),
        0 14px 28px transparent;
}

.main-window.titlebar,
.main-window.background {
    background-color: @colorPrimary;
    color: #fff;
    -gtk-icon-shadow: 0 1px 1px shade (@colorPrimary, 0.82);
    text-shadow: 0 1px 1px shade (@colorPrimary, 0.82);
}

.main-window .titlebar .title {
   color: #fff;
   font-size: 12px;
   text-shadow: none;
   -gtk-icon-shadow: none;
}

.main-window .titlebar image {
    color: white;
}

.pomodoro-button {
    padding: 5px;
    color: #fff;
    background-color: @colorPrimary;
    border: 1px solid darker(@colorPrimary);
    transition: all 200ms ease-in-out;
}

.countdown {
    color: #ffffff;
    font-size: 48px;
    font-family: Open Sans Light;
}

.total-time {
    color: #ebebeb;
    font-size: 14px;
    font-family: Open Sans Light;
}

frame {
    border: none;
}

/* .pomodoro-window { */
/*     background-color: #f34b4b; */
/*     border-color: darker(#f34b4b); */
/* } */
/* .pomodoro-button { */
/*     padding: 5px; */
/*     color: #ffffff; */
/*     background-color: #df4b4b; */
/*     border: 1px solid darker(#df4b4b); */
/* } */

/* .start-window { */
/*     background-color: #8ea5af; */
/*     border-color: darker(#8ea5af); */
/* } */

/* .start-button { */
/*     padding: 5px; */
/*     color: #ffffff; */
/*     background-color: #7f949d; */
/*     border: 1px solid darker(#7f949d); */
/* } */


/* .break-window { */
/*     background-color: #05B560; */
/*     border-color: darker(#05B560); */
/* } */

/* .break-button { */
/*     padding: 5px; */
/*     color: #ffffff; */
/*     background-color: #04a256; */
/*     border: 1px solid darker(#04a256); */
/* } */
